input[type = "number"]{	text-align: center; }

th{	text-align: center !important; }

#total, #total2, #total3, #total4, #total5{ text-align: center; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.misc_label
{
	text-align: right;
	font-weight: bold;
	font-size: 1.1rem;
}

table { margin-bottom: 0px !important;}

.table td#grand_total  {
  border-top: 2px solid black !important;
}

.misc_amount
{
	text-align: center;
	font-weight: bold;
}

#grand_total, #subtotal
{
	text-align: center;
	font-weight: bold;
	color:red;
}